.post {
    border: .15vw solid #0000dd;
    border-radius: 1vw;
    padding: 1vw;
    background-color: #0000bb;
    margin-bottom: 1vw;
}

.post_wrap {
    display: flex;
}

.avatar {
    margin-right: 1.5vw;
}

.avatar img {
    width: 3vw;
    border-radius: 50%;
}

.post_message {
    color: azure;
}

.post span {
    font-weight: 700;
}
